@import 'compass/css3/opacity';

#showcase-wrap {
    $margin: 4 * $blueprint-liquid-grid-margin / 2;
            
    @include tile-container($margin);
    @include clearfix2;
    overflow: visible;


    .item {
        @include tile-column($blueprint-liquid-grid-columns / 2, $margin);
        margin-bottom: $margin;
        
        overflow: hidden;
        position: relative;
        height: 360px;
        cursor: pointer;
        outline: 1px solid $wellblack;

        .thumb {
            max-width: none;
        }

        .shorttext {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $wellblack;
            background: rgba(0,0,0,0.7);
            color: #dadada;
            padding: 2em;

            @include opacity(0);
            @include transition(opacity .3s linear);
        }

        .longtext {
            display: none;
            visibility: hidden;
        }

        &:hover {
            .shorttext {
                @include opacity(1.0);
            }
        }
    }
}

.overlay-showcase {

    // background: $wellbeige;
    max-width: 600px;

    .media {
        padding: rhythm(2);
        padding-bottom: 0;
        text-align: center;
        img {
            // border: 1px solid $wellblack;
        }
    }
    .description {
        padding: rhythm(2);
    }
}

@media only screen and (max-width: 480px) {
    #showcase-wrap {
        .item {
            width: 100%;
            margin: 0 0 rhythm(1);
        }
    }
}