@font-face {
  font-family: 'IconicStroke';
  src: url("iconic_stroke.eot");
  src: url("iconic_stroke.eot?#iefix") format("embedded-opentype"), url("iconic_stroke.ttf") format("truetype"), url("iconic_stroke.svg#iconic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, iconic_stroke.scss */
.iconic {
  display: inline-block;
  font-family: 'IconicStroke';
}

/* line 1, iconic_stroke.scss */
.lightbulb:before {
  content: '\e063';
}

/* line 1, iconic_stroke.scss */
.equalizer:before {
  content: '\e052';
}

/* line 1, iconic_stroke.scss */
.map_pin_stroke:before {
  content: '\e068';
}

/* line 1, iconic_stroke.scss */
.brush_alt:before {
  content: '\e01c';
}

/* line 1, iconic_stroke.scss */
.move:before {
  content: '\e03e';
}

/* line 1, iconic_stroke.scss */
.paperclip:before {
  content: '\e08a';
}

/* line 1, iconic_stroke.scss */
.pen_alt_stroke:before {
  content: '\e005';
}

/* line 1, iconic_stroke.scss */
.move_vertical:before {
  content: '\e03b';
}

/* line 1, iconic_stroke.scss */
.book_alt2:before {
  content: '\e06a';
}

/* line 1, iconic_stroke.scss */
.layers:before {
  content: '\e01f';
}

/* line 1, iconic_stroke.scss */
.pause:before {
  content: '\e049';
}

/* line 1, iconic_stroke.scss */
.layers_alt:before {
  content: '\e020';
}

/* line 1, iconic_stroke.scss */
.cloud_upload:before {
  content: '\e045';
}

/* line 1, iconic_stroke.scss */
.chart_alt:before {
  content: '\e029';
}

/* line 1, iconic_stroke.scss */
.fullscreen_exit_alt:before {
  content: '\e051';
}

/* line 1, iconic_stroke.scss */
.cloud_download:before {
  content: '\e044';
}

/* line 1, iconic_stroke.scss */
.comment_alt2_stroke:before {
  content: '\e004';
}

/* line 1, iconic_stroke.scss */
.mail:before {
  content: '\2709';
}

/* line 1, iconic_stroke.scss */
.check_alt:before {
  content: '\2714';
}

/* line 1, iconic_stroke.scss */
.document_stroke:before {
  content: '\e066';
}

/* line 1, iconic_stroke.scss */
.battery_charging:before {
  content: '\e05d';
}

/* line 1, iconic_stroke.scss */
.stop:before {
  content: '\e04a';
}

/* line 1, iconic_stroke.scss */
.arrow_up:before {
  content: '\2191';
}

/* line 1, iconic_stroke.scss */
.move_horizontal:before {
  content: '\e038';
}

/* line 1, iconic_stroke.scss */
.compass:before {
  content: '\e021';
}

/* line 1, iconic_stroke.scss */
.minus_alt:before {
  content: '\e009';
}

/* line 1, iconic_stroke.scss */
.battery_empty:before {
  content: '\e05c';
}

/* line 1, iconic_stroke.scss */
.map_pin_alt:before {
  content: '\e002';
}

/* line 1, iconic_stroke.scss */
.unlock_stroke:before {
  content: '\e076';
}

/* line 1, iconic_stroke.scss */
.lock_stroke:before {
  content: '\e075';
}

/* line 1, iconic_stroke.scss */
.question_mark:before {
  content: '\003f';
}

/* line 1, iconic_stroke.scss */
.list:before {
  content: '\e055';
}

/* line 1, iconic_stroke.scss */
.upload:before {
  content: '\e043';
}

/* line 1, iconic_stroke.scss */
.reload:before {
  content: '\e030';
}

/* line 1, iconic_stroke.scss */
.loop_alt4:before {
  content: '\e035';
}

/* line 1, iconic_stroke.scss */
.loop_alt3:before {
  content: '\e034';
}

/* line 1, iconic_stroke.scss */
.loop_alt2:before {
  content: '\e033';
}

/* line 1, iconic_stroke.scss */
.loop_alt1:before {
  content: '\e032';
}

/* line 1, iconic_stroke.scss */
.left_quote:before {
  content: '\275d';
}

/* line 1, iconic_stroke.scss */
.x:before {
  content: '\2717';
}

/* line 1, iconic_stroke.scss */
.last:before {
  content: '\e04d';
}

/* line 1, iconic_stroke.scss */
.document_alt_stroke:before {
  content: '\e000';
}

/* line 1, iconic_stroke.scss */
.bars:before {
  content: '\e06f';
}

/* line 1, iconic_stroke.scss */
.arrow_left:before {
  content: '\2190';
}

/* line 1, iconic_stroke.scss */
.arrow_down:before {
  content: '\2193';
}

/* line 1, iconic_stroke.scss */
.download:before {
  content: '\e042';
}

/* line 1, iconic_stroke.scss */
.home:before {
  content: '\2302';
}

/* line 1, iconic_stroke.scss */
.calendar:before {
  content: '\e001';
}

/* line 1, iconic_stroke.scss */
.right_quote_alt:before {
  content: '\e012';
}

/* line 1, iconic_stroke.scss */
.fullscreen:before {
  content: '\e04e';
}

/* line 1, iconic_stroke.scss */
.dial:before {
  content: '\e058';
}

/* line 1, iconic_stroke.scss */
.plus_alt:before {
  content: '\e008';
}

/* line 1, iconic_stroke.scss */
.clock:before {
  content: '\e079';
}

/* line 1, iconic_stroke.scss */
.movie:before {
  content: '\e060';
}

/* line 1, iconic_stroke.scss */
.steering_wheel:before {
  content: '\e024';
}

/* line 1, iconic_stroke.scss */
.pen:before {
  content: '\270e';
}

/* line 1, iconic_stroke.scss */
.tag_stroke:before {
  content: '\e02b';
}

/* line 1, iconic_stroke.scss */
.pin:before {
  content: '\e067';
}

/* line 1, iconic_stroke.scss */
.denied:before {
  content: '\26d4';
}

/* line 1, iconic_stroke.scss */
.left_quote_alt:before {
  content: '\e011';
}

/* line 1, iconic_stroke.scss */
.volume_mute:before {
  content: '\e071';
}

/* line 1, iconic_stroke.scss */
.arrow_up_alt2:before {
  content: '\e018';
}

/* line 1, iconic_stroke.scss */
.list_nested:before {
  content: '\e056';
}

/* line 1, iconic_stroke.scss */
.arrow_up_alt1:before {
  content: '\e014';
}

/* line 1, iconic_stroke.scss */
.comment_stroke:before {
  content: '\e06d';
}

/* line 1, iconic_stroke.scss */
.undo:before {
  content: '\e02f';
}

/* line 1, iconic_stroke.scss */
.umbrella:before {
  content: '\2602';
}

/* line 1, iconic_stroke.scss */
.bolt:before {
  content: '\26a1';
}

/* line 1, iconic_stroke.scss */
.article:before {
  content: '\e053';
}

/* line 1, iconic_stroke.scss */
.read_more:before {
  content: '\e054';
}

/* line 1, iconic_stroke.scss */
.beaker:before {
  content: '\e023';
}

/* line 1, iconic_stroke.scss */
.beaker_alt:before {
  content: '\e010';
}

/* line 1, iconic_stroke.scss */
.battery_full:before {
  content: '\e073';
}

/* line 1, iconic_stroke.scss */
.arrow_right:before {
  content: '\2192';
}

/* line 1, iconic_stroke.scss */
.new_window:before {
  content: '\e059';
}

/* line 1, iconic_stroke.scss */
.plus:before {
  content: '\2795';
}

/* line 1, iconic_stroke.scss */
.cog:before {
  content: '\2699';
}

/* line 1, iconic_stroke.scss */
.key_stroke:before {
  content: '\26bf';
}

/* line 1, iconic_stroke.scss */
.first:before {
  content: '\e04c';
}

/* line 1, iconic_stroke.scss */
.comment_alt1_stroke:before {
  content: '\e003';
}

/* line 1, iconic_stroke.scss */
.trash_stroke:before {
  content: '\e05a';
}

/* line 1, iconic_stroke.scss */
.image:before {
  content: '\e027';
}

/* line 1, iconic_stroke.scss */
.chat_alt_stroke:before {
  content: '\e007';
}

/* line 1, iconic_stroke.scss */
.cd:before {
  content: '\e064';
}

/* line 1, iconic_stroke.scss */
.right_quote:before {
  content: '\275e';
}

/* line 1, iconic_stroke.scss */
.brush:before {
  content: '\e01b';
}

/* line 1, iconic_stroke.scss */
.cloud:before {
  content: '\2601';
}

/* line 1, iconic_stroke.scss */
.eye:before {
  content: '\e025';
}

/* line 1, iconic_stroke.scss */
.play_alt:before {
  content: '\e048';
}

/* line 1, iconic_stroke.scss */
.transfer:before {
  content: '\e041';
}

/* line 1, iconic_stroke.scss */
.pen_alt2:before {
  content: '\e006';
}

/* line 1, iconic_stroke.scss */
.camera:before {
  content: '\e070';
}

/* line 1, iconic_stroke.scss */
.move_horizontal_alt2:before {
  content: '\e03a';
}

/* line 1, iconic_stroke.scss */
.curved_arrow:before {
  content: '\2935';
}

/* line 1, iconic_stroke.scss */
.move_horizontal_alt1:before {
  content: '\e039';
}

/* line 1, iconic_stroke.scss */
.aperture:before {
  content: '\e026';
}

/* line 1, iconic_stroke.scss */
.reload_alt:before {
  content: '\e031';
}

/* line 1, iconic_stroke.scss */
.magnifying_glass:before {
  content: '\e074';
}

/* line 1, iconic_stroke.scss */
.iphone:before {
  content: '\e06e';
}

/* line 1, iconic_stroke.scss */
.fork:before {
  content: '\e046';
}

/* line 1, iconic_stroke.scss */
.box:before {
  content: '\e06b';
}

/* line 1, iconic_stroke.scss */
.bars_alt:before {
  content: '\e00a';
}

/* line 1, iconic_stroke.scss */
.heart_stroke:before {
  content: '\2764';
}

/* line 1, iconic_stroke.scss */
.volume:before {
  content: '\e072';
}

/* line 1, iconic_stroke.scss */
.x_alt:before {
  content: '\2718';
}

/* line 1, iconic_stroke.scss */
.link:before {
  content: '\e077';
}

/* line 1, iconic_stroke.scss */
.moon_stroke:before {
  content: '\263e';
}

/* line 1, iconic_stroke.scss */
.eyedropper:before {
  content: '\e01e';
}

/* line 1, iconic_stroke.scss */
.spin:before {
  content: '\e036';
}

/* line 1, iconic_stroke.scss */
.rss:before {
  content: '\e02c';
}

/* line 1, iconic_stroke.scss */
.info:before {
  content: '\2139';
}

/* line 1, iconic_stroke.scss */
.target:before {
  content: '\e02a';
}

/* line 1, iconic_stroke.scss */
.cursor:before {
  content: '\e057';
}

/* line 1, iconic_stroke.scss */
.minus:before {
  content: '\2796';
}

/* line 1, iconic_stroke.scss */
.book_alt:before {
  content: '\e00b';
}

/* line 1, iconic_stroke.scss */
.headphones:before {
  content: '\e061';
}

/* line 1, iconic_stroke.scss */
.hash:before {
  content: '\0023';
}

/* line 1, iconic_stroke.scss */
.arrow_left_alt1:before {
  content: '\e013';
}

/* line 1, iconic_stroke.scss */
.arrow_left_alt2:before {
  content: '\e017';
}

/* line 1, iconic_stroke.scss */
.fullscreen_exit:before {
  content: '\e050';
}

/* line 1, iconic_stroke.scss */
.share:before {
  content: '\e02e';
}

/* line 1, iconic_stroke.scss */
.fullscreen_alt:before {
  content: '\e04f';
}

/* line 1, iconic_stroke.scss */
.at:before {
  content: '\0040';
}

/* line 1, iconic_stroke.scss */
.chat:before {
  content: '\e05e';
}

/* line 1, iconic_stroke.scss */
.move_vertical_alt2:before {
  content: '\e03d';
}

/* line 1, iconic_stroke.scss */
.move_vertical_alt1:before {
  content: '\e03c';
}

/* line 1, iconic_stroke.scss */
.check:before {
  content: '\2713';
}

/* line 1, iconic_stroke.scss */
.mic:before {
  content: '\e05f';
}

/* line 1, iconic_stroke.scss */
.calendar_alt_stroke:before {
  content: '\e06c';
}

/* line 1, iconic_stroke.scss */
.book:before {
  content: '\e069';
}

/* line 1, iconic_stroke.scss */
.move_alt1:before {
  content: '\e03f';
}

/* line 1, iconic_stroke.scss */
.move_alt2:before {
  content: '\e040';
}

/* line 1, iconic_stroke.scss */
.award_stroke:before {
  content: '\e022';
}

/* line 1, iconic_stroke.scss */
.wrench:before {
  content: '\e078';
}

/* line 1, iconic_stroke.scss */
.play:before {
  content: '\e047';
}

/* line 1, iconic_stroke.scss */
.star:before {
  content: '\2605';
}

/* line 1, iconic_stroke.scss */
.chart:before {
  content: '\e028';
}

/* line 1, iconic_stroke.scss */
.rain:before {
  content: '\26c6';
}

/* line 1, iconic_stroke.scss */
.folder_stroke:before {
  content: '\e065';
}

/* line 1, iconic_stroke.scss */
.sun_stroke:before {
  content: '\2600';
}

/* line 1, iconic_stroke.scss */
.user:before {
  content: '\e062';
}

/* line 1, iconic_stroke.scss */
.battery_half:before {
  content: '\e05b';
}

/* line 1, iconic_stroke.scss */
.aperture_alt:before {
  content: '\e00c';
}

/* line 1, iconic_stroke.scss */
.eject:before {
  content: '\e04b';
}

/* line 1, iconic_stroke.scss */
.arrow_down_alt1:before {
  content: '\e016';
}

/* line 1, iconic_stroke.scss */
.pilcrow:before {
  content: '\00b6';
}

/* line 1, iconic_stroke.scss */
.arrow_down_alt2:before {
  content: '\e01a';
}

/* line 1, iconic_stroke.scss */
.arrow_right_alt1:before {
  content: '\e015';
}

/* line 1, iconic_stroke.scss */
.arrow_right_alt2:before {
  content: '\e019';
}

/* line 1, iconic_stroke.scss */
.rss_alt:before {
  content: '\e02d';
}

/* line 1, iconic_stroke.scss */
.spin_alt:before {
  content: '\e037';
}
