// utility functions for building vendor prefixes

$default-prefixes: webkit moz ms o;

@mixin build-prefix-values($property, $val, $pfxval: false, $prefixes: $default-prefixes) {

    @each $prefix in $prefixes {
        $value: $val;

        @if $pfxval {
            $value: -#{$prefix}-#{$val};
        }

        -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$val};
} 

@mixin text-shadow ($def) {
    @include build-prefix-values('text-shadow', $def);
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.media-object {
    margin: 10px;

    &,
    .details {
        overflow:hidden;
        _overflow:visible;
        zoom:1;
    }

    .thumbnail {
        float:left;
        margin-right: 10px;

        img {
            display:block;
        }
    }
}

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix2 {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// Vertically center (vc) any container no matter how tall it is
// -----------------------------------------------------------
// Source: http://css-tricks.com/centering-in-the-unknown/
// NOTE: There are two parts to this mixin, and there must
// be two containers to make this work: an outter and an
// inner container. This mixin will only work if you include
// the outer-container mixin on the outer container, and the
// inner-container mixin on the inner container. Pretty self
// explanatory, but I want to make sure we all get it.
// Pass in true to ignore adjusting the height. This works mainly
// on cards.
@mixin vc-outer-container( $ignoreHeight: 'false' ) {
    @if $ignoreHeight == 'true' {
        // do nothing
    } @else {
        height: 100%;
    }
    
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.38em; /* Adjusts for spacing */
        width:.1em;
    }
}
@mixin vc-inner-container {
    display: inline-block;
    vertical-align: middle;
}