// utility functions for building vendor prefixes

$default-prefixes: webkit moz ms o;

@mixin build-prefix-values($property, $val, $pfxval: false, $prefixes: $default-prefixes) {

    @each $prefix in $prefixes {
        $value: $val;

        @if $pfxval {
            $value: -#{$prefix}-#{$val};
        }

        -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$val};
} 

@mixin text-shadow ($def) {
    @include build-prefix-values('text-shadow', $def);
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.media-object {
    margin: 10px;

    &,
    .details {
        overflow:hidden;
        _overflow:visible;
        zoom:1;
    }

    .thumbnail {
        float:left;
        margin-right: 10px;

        img {
            display:block;
        }
    }
}
